
Ignore/Inorganic_formula.csv
Ignore/Organic_rdkit.csv
dist/NJmat/xgboost/lib/xgboost.dll
dist/NJmat.rar
dist/NJmat.rar
dist/*
*.rar
NJmatML-UIUI.rar
*.rar
NJmatML-UIUI.rar
/dist
*.rar
*.rar
/build
/build
/build
/dist
/build
/build/NJmat
/build
